li {
    border: 1px solid black;
    font-size: 1.5em;
    font-weight: bold;
    background-color: grey;
}

.container {
    background-color: aquamarine;
    width: 80%;
    margin-top: 30px;

}

h2 {
    margin-top: 20px;
}
